@charset "utf-8";
@import url("../fonts/fonts.css");
body{
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 12px;
	letter-spacing: 0.06em;
	color: #000;
	padding: 0 0;
	margin: 0 0;
	padding: 16px 0 0;
	background: #fff;
}
input, select, textarea, button{
	outline: none;
}
h1, h2, h3, h4, p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000;
}
.wrap{
	background: #fff;
	position: relative;
	z-index: 1;
	margin-bottom: 683px;
}
.container{
	width: 1284px;
	margin: 0 auto;
}

/*elements*/

.button-link{
	display: inline-block;
	padding: 17px 32px 8px 32px;
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
	text-align: center;
}
.button-link.full{
	width: 99%;
}
.button-link.margin-right16{
	margin-right: 16px;
}
.button-link.margin-right19{
	margin-right: 19px;
}
.button-link.white{
	background: #fff;
	color: #000;	
}
.button-link.black{
	background: #000;
	color: #fff;
}
.button-link.black-border{
	border: 1px solid #000;
}
.button-link.grey-border{
	border: 1px solid #C7C7C7;
}
.button-link-span{
	display: flex;
	align-items: center;
	justify-content: center;
}
.button-link-span-text{
	padding: 0 0 6px 0;
	display: inline-block;
}
.button-link.white .button-link-span-text{
	border-bottom: 2px solid #fff;
	transition: all .2s ease-out;
}
.button-link.white:hover > .button-link-span > .button-link-span-text{
	border-bottom: 2px solid #000;
	transition: all .2s ease-out;
}
.button-link.black .button-link-span-text{
	border-bottom: 2px solid #000;
	transition: all .2s ease-out;
}
.button-link.black:hover > .button-link-span > .button-link-span-text{
	border-bottom: 2px solid #fff;
	transition: all .2s ease-out;
}
.button-icon{
	width: 19px;
	height: 19px;
	display: inline-block;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-size: 233px;
	margin-bottom: 8px;
	margin-right: 13px;
}
.button-icon.watsapp-white{
	background-position: -1px -27px;
}
.button-icon.insta-white{
	background-position: -43px -28px;
}

.form-field{
	position: relative;
}
.form-field-input{
	display: block;
	width: 100%;
	padding: 12px 16px;
	box-sizing: border-box;
	font-size: 14px;
	border: 0;
	border-bottom: 1px solid #000000;
}
.form-field-submit{
	position: absolute;
	top: 35%;
	right: 0;
	width: 18px;
	height: 12px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -179px -49px;
    background-size: 236px;
	border:0;
	background-color:rgba(255,255,255,0);
	padding: 0;
	cursor: pointer;
}

/*end elements*/

/*modal*/

.header-modal{
	position: absolute;
	background: #FFFFFF;
	box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.24);
	z-index: 100;
	top: 32px;
	border-top: 2px solid #000;
	display: none;
}

.modal-geo{
    left: -109px;
	width: 334px;		
}
.modal-close,
.modal-geo-all-close{
	position: absolute;
	width: 10px;
	height: 10px;
	background-image: url("../img/sprite.png");
	background-size: 250px;
	background-repeat: no-repeat;
	background-position: -167px -36px;
	top: 14px;
	right: 14px;
	cursor: pointer;
}
.modal-geo-head{
	font-size: 16px;
	line-height: 20px;
	font-family: "HelveticaNeueCyr-Bold";
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 42px 36px 0px 36px;
}
.modal-geo-item{
	display: block;
	padding: 26px 36px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.modal-geo-item:last-child{
	border-bottom: 0px solid rgba(0,0,0,0.15);
}
.modal-geo-item-name{
	font-size: 14px;
	display: block;
	margin-bottom: 6px;
	line-height: 20px;
}
.modal-geo-item-address{
	font-size: 10px;
	opacity: .4;
	line-height: 14px;
}
.modal-geo-more{
	display: block;
	width: 100%;
	text-align: center;
	padding: 6px 32px 32px 32px;
	box-sizing: border-box;
}
.modal-geo-change-city{
	width: 100%;
	display: block;
	text-align: center;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
	padding: 22px 32px;
	box-sizing: border-box;
	box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

#modal-geo-all{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	overflow: auto;
	display: none;
}
.modal-geo-all-container{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-geo-all-content{
	width: 57.8%;
	background: #fff;
	box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.24);
	padding: 56px 0 26px;
	box-sizing: border-box;
	position: relative;
	border-top: 2px solid #000;
}
.modal-geo-all-head{
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 33px;
	font-family: "HelveticaNeueCyr-Bold";
	padding: 0 80px;
}
.modal-geo-all-list{
	max-height: 330px;
	overflow: auto;
}
.modal-geo-all-item{
	padding: 26px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.modal-geo-all-item:last-child{
	border-bottom: 0;
}
.modal-geo-all-item-link{
	width: 71.5%;
	display: block;
}
.modal-geo-all-item-link-name{
	font-size: 14px;
	line-height: 20px;
	display: block;
	margin-bottom: 10px;
}
.modal-geo-all-item-link-address{
	display: block;
	opacity: .4;
	margin-bottom: 10px;
	line-height: 14px;
}
.modal-geo-all-item-link-phone{
	display: block;
	opacity: .4;
	line-height: 14px;
}
.modal-geo-all-item-links{

}
.modal-geo-all-item-links-link{
	width: 19px;
	height: 19px;
	display: inline-block;
	background-image: url("../img/sprite.png");
	background-size: 240px;
	background-repeat: no-repeat;
	margin-right: 24px;
}
.modal-geo-all-item-links-link:last-child{
	margin-right: 0;
}
.modal-geo-all-item-links-link.inst{
	background-position: -67px -30px;
}
.modal-geo-all-item-links-link.local{
	background-position: -198px -5px;
}

.modal-about-us{	
	left: -67px;
}
.modal-about-us-cols{
	display: flex;
}
.modal-about-us-col.first{
	width: 305px;
	border-right: 1px solid rgba(0,0,0,.15);
}
.modal-about-us-col.last{
	width: 221px;
}
.modal-about-us-name{
	display: block;
	opacity: .4;
	box-sizing: border-box;
	padding: 26px 56px 13px;
	cursor: default;
	transition: all .2s ease-out;
}
.modal-about-us-col:hover > .modal-about-us-name{
	opacity: 1;
	transition: all .2s ease-out;
}
.modal-about-us-wrap{
	padding-bottom: 12px;
}
.modal-about-us-link{
	display: block;
	font-size: 14px;
	line-height: 18px;
	padding: 14px 20px 14px 56px;
	transition: all .2s ease-out;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.modal-about-us-link.active{
	background: rgba(0,0,0,0.03);
}
.modal-about-us-link:hover{
	background: rgba(0,0,0,0.03);
	transition: all .2s ease-out;
}

.modal-basket{
	right: 0;
	width: 499px;
	padding: 43px 0px 24px 0;
}
.modal-basket-head{
	font-family: "HelveticaNeueCyr-Bold";
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	width: 100%;
	text-align: center;
	padding: 0 41px;
	box-sizing: border-box;
	line-height: 20px;
	margin-bottom: 8px;
}
.modal-basket-count{
	opacity: .2;
	display: block;
	width: 100%;
	padding: 0 41px;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 24px;
}
.modal-basket-goods{
	max-height: 309px;
	overflow: auto;
	margin-bottom: 24px;
}
.modal-basket-item{
	margin: 0px 41px;
	display: flex;	
	align-items: center;
	padding: 18px 0;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.modal-basket-item:first-child{
	border-top: 1px solid rgba(0,0,0,0.15);
}
.modal-basket-item-photo{
	width: 110px;
	height: 110px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}
.modal-basket-item-photo-img{
	max-width: 100%;
	max-height: 100%;
}
.modal-basket-item-desc{
	width: 68%;
}
.modal-basket-item-desc-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}
.modal-basket-item-desc-top-name{
	width: 58%;
	font-family: "HelveticaNeueCyr-Bold";
	text-transform: uppercase;
	line-height: 16px;
	cursor: default;
}
.modal-basket-item-desc-top-delete{	
    width: 12px;
    height: 12px;
    background-image: url(../img/sprite.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: -166px -35px;    
    cursor: pointer;
    display: inline-block;
    align-self: flex-start;
}
.modal-basket-item-desc-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
.modal-basket-item-desc-bottom-count{
	display: flex;
}
.modal-basket-item-desc-bottom-count-volume{
	color: #ABABAB;
	margin-right: 14px;
	cursor: default;
}
.modal-basket-item-desc-bottom-count-num{
	font-family: "HelveticaNeueCyr-Bold";
	cursor: default;
}
.modal-basket-item-desc-bottom-sum{
	font-family: "HelveticaNeueCyr-Bold";
	cursor: default;
}
.modal-basket-amount{
	padding: 0px 41px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}
.modal-basket-amount-text{
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
}
.modal-basket-amount-sum{
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
}	
.modal-basket-buttons{
	padding: 0 41px;
	display: flex;
	justify-content: space-between;
}

.modal-profile{
	width: 203px;
	padding: 11px 0;
	left: calc(50% - 203px / 2);
}
.modal-profile-item{
	padding: 11px 26px;
	display: flex;
	align-items: center;
}
.modal-profile-item:hover{
	background: rgba(0,0,0,0.03);
}
.modal-profile-item-icon{
	width: 22px;
	height: 23px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-size: 236px;
	margin-right: 14px;
}
.modal-profile-item-icon.profile{
	background-position: -54px 0;
}
.modal-profile-item-icon.orders{
	background-position: -103px 0;
}
.modal-profile-item-icon.pass{
	background-position: -123px 0;
}
.modal-profile-item-icon.exit{
	background-position: -145px 0;
}
.modal-profile-item-span{

}

.modal-search{
	padding: 64px 50px;
	width: 420px;
	box-sizing: border-box;
	left: -163px;
}

/*end modal*/

header{
	background: #fff;
}
.header-top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 33px;
}
.header-top-time-span{
	opacity: 0.45;
}
.header-top-lang-link{
	opacity: 0.3;
}
.header-top-lang-link.active{
	opacity: 1;
}
.header-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}
.header-center-left{
	display: flex;
	align-items: center;
}
.header-center-left-item{
	position: relative;
}
.header-center-left-link{
	display: flex;
	align-items: center;
	padding: 7px 0;
	margin-right: 38px;
	transition: all .2s ease-out;
}
.header-center-left-link.line{
	border-right: 1px solid #000;
	padding-right: 38px;
}
.header-center-left-link.active{
	opacity: 0.5;
	transition: all .2s ease-out;
}
.header-center-left-link.active > .header-arrow-icon,
.header-center-right-link.active > .header-arrow-icon{
	transform: rotate(180deg);
	transition: all .2s ease-out;
}
.header-arrow-icon{
	width: 8px;
	height: 6px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-size: 273px;
    background-position: -202px -36px;
    margin-left: 5px;
    transition: all .2s ease-out;
}
.header-center-logo-link{
	display: inline-block;
}
.header-center-right{
	display: flex;
	align-items: center;
}
.header-center-right-item{
	margin-right: 52px;
	position: relative;
}
.header-center-right-item:last-child{
	margin-right: 0px;
}
.header-center-right-link{
	display: flex;
	align-items: center;
	transition: all .2 ease-out;
}
.header-center-right-link.active{
	opacity: .5;
}
.header-center-right-link-icon{
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;	
	display: block;
}
.header-center-right-link-icon.geo{
	width: 16px;
	height: 24px;
	background-size: 219px;
    background-position: -3px 0px;
}
.header-center-right-link-icon.search{
	width: 20px;
    height: 20px;
    background-size: 213px;
    background-position: -24px 0px;
}
.header-center-right-link-icon.profile{
	width: 18px;
    height: 20px;
    background-size: 211px;
    background-position: -47px 1px;
}
.header-center-right-link-icon.basket{
	width: 22px;
    height: 23px;
    background-size: 211px;
    background-position: -68px 2px;
}
.header-center-right-link-span{
	margin-left: 10px;
}
.header-center-right-link-span.bold{
	font-family: "HelveticaNeueCyr-Bold";
}

nav{
	display: flex;
	justify-content: space-between;
}
.header-nav-link{
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
	display: block;
	padding: 14px 0;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: all .2s ease-out;
}
.header-nav-link:hover,
.header-nav-link.active{
	border-bottom: 2px solid rgba(0,0,0,1);
	transition: all .2s ease-out;
}

#main-page-shade-1{
	background-image: url("../img/bg/1.jpg");	
}
#main-page-shade-2{
	background-image: url("../img/bg/2.jpg");	
}
#main-page-shade-3{
	background-image: url("../img/bg/3.jpg");	
}
#main-page-shade-4{
	background-image: url("../img/bg/5.jpg");	
}
.main-page-shade{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-page-shade-content{
	padding: 291px 0 49px 0;
	text-align: center;
}
.main-page-shade-text{
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
	line-height: 18px;
	margin-bottom: 5px;
}
.main-page-shade-head{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
	font-size: 32px;
	font-family: "HelveticaNeueCyr-Bold";
	line-height: 42px;
	margin-bottom: 50px;
}

#main-page-goods{
	background-image: url("../img/bg/4.jpg");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: cover;
	background-color: #fff;
	position: relative;
}
.main-page-goods-content{
	display: flex;
	justify-content: space-between;
}
.main-page-goods-wrap{
	
}
.main-page-goods-wrap.first{
	background-color: #fff;
	padding: 92px 0px 30px 0;
	width: 50.4%;
}
.main-page-goods-wrap.last{
	width: 48%;
	text-align: center;
}
.main-page-goods-list{
	display: flex;
	flex-wrap: wrap;
}
.main-page-goods-item{
	margin-right: 36px;
	margin-bottom: 60px;
	width: 28%;
}
.main-page-goods-item:nth-child(3n){
	margin-right: 0px;
}
.main-page-goods-item-pic{
	width: 100%;
	height: 94px;
	overflow: hidden;	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 62px;
}
.main-page-goods-item-pic-img{
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}
.main-page-goods-item-name{
	display: inline-block;
	width: 100%;
	margin-bottom: 16px;
}
.main-page-goods-item-name-link{
	font-family: "HelveticaNeueCyr-Bold";
	text-transform: uppercase;	
	white-space: nowrap;
	display: inline-block;
	padding-bottom: 7px;
	border-bottom: 2px solid rgba(0,0,0,0);
	width: 100%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all .2s ease-out;
	letter-spacing: 0.06em;
}
.main-page-goods-item:hover > .main-page-goods-item-name > .main-page-goods-item-name-link{
	border-bottom: 2px solid rgba(0,0,0,1);
	transition: all .2s ease-out;
}
.main-page-goods-item-price{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-bottom: 11px;
	text-align: center;
}
.main-page-goods-item-price-volume{
	text-transform: uppercase;
	color: #ABABAB;
	margin-right: 10px;
	font-family: "HelveticaNeueCyr-Bold";
}
.main-page-goods-item-price-sum{
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
}
.main-page-goods-item-details{

}
.main-page-goods-item-details-link{
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-page-goods-item-details-link-span{
	margin-right: 8px;
}
.main-page-goods-item-details-link-icon{
	display: inline-block;
	width: 5px;
	height: 9px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-size: 240px;
	background-position: -195px -34px;
}
.main-page-goods-shade{
	width: 18.5%;
	position: absolute;
	bottom: 46px;
    right: 229px;
}

#main-page-events{
	padding: 64px 0 96px;
	background: #fff;
}
.main-page-events-content{

}
.main-page-events-head{
	font-size: 32px;
	line-height: 42px;
	font-family: "HelveticaNeueCyr-Bold";
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 42px;
}
.main-page-events-img{
	width: 100%;
	display: block;
	margin-bottom: 42px;
}
.main-page-events-p{
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
	width: 50%;
	margin: 0px auto 14px auto;
}
.main-page-events-date{
	display: block;
	width: 100%;
	text-align: center;
	line-height: 22px;
	margin-bottom: 14px;
}
.main-page-events-info{
	line-height: 22px;
	margin: 0 auto 48px;
	width: 55%;
	display: block;
	text-align: center;
}
.main-page-events-buttons{
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-page-news{
	background: #000;
	padding: 96px 0 78px;
}
.main-page-news-head{
	font-size: 32px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
	color: #fff;
	display: block;
	margin-bottom: 30px;	
}
.main-page-news-all-link{
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
	color: #fff;
	display: block;
	line-height: 12px;
	margin-bottom: 62px;
}
.main-page-news-list{
	display: flex;
	flex-wrap: wrap;
}
.main-page-news-item{
	width: 32.7%;
	margin-bottom: 71px;
	margin-right: 10px;
	display: inline-block;
}
.main-page-news-item:nth-child(3n){
	margin-right: 0px;
}
.main-page-news-pic{
	height: 300px;
	margin-bottom: 26px;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}
.main-page-new-pic-img{
	width: 100%;
}
.main-page-news-text{
	padding: 0 65px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}
.main-page-news-text-link{
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 26px;
	font-family: "HelveticaNeueCyr-Bold";
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}
.main-page-news-text-date{
	color: #fff;
	opacity: .7;
	position: relative;
}
.main-page-news-text-date.line:after{
	content: "";
	position: absolute;
	top: 5px;
    right: -75px;
	width: 52px;
	height: 1px;
	border-bottom: 1px solid #B2B2B2;
}

#main-page-social{
	background-image: url("../img/bg/9.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 126px 0 124px;
}
.main-page-social-content{
	background: #fff;
	width: 32.7%;
	text-align: center;
	padding: 93px 20px;
	box-sizing: border-box;
	margin: 0 auto;
}
.main-page-social-head{
	font-size: 32px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
	margin-bottom: 14px;
}
.main-page-social-span{
	display: inline-block;
	width: 100%;
	font-family: "HelveticaNeueCyr-Bold";
	margin-bottom: 42px;
	text-transform: uppercase;
}

#main-page-subscription{
	padding: 77px 0 69px;
	background: #fff;
}
.main-page-subscription-content{
	display: flex;
	align-items: flex-end;
}
.main-page-subscription-text{
	width: 33.7%;
	margin-right: 46px;
}
.main-page-subscription-text-head{
	font-family: "HelveticaNeueCyr-Bold";
	margin-bottom: 18px;
	text-transform: uppercase;
}
.main-page-subscription-text-p{
	line-height: 18px;
	letter-spacing: 0.02em;
	color: #858585;
}
.main-page-subscription-text-p-link{
	color: #000;
}	
.main-page-subscription-form{
	width: 32.7%;
}

footer{
	background: #000;
	padding: 90px 0 34px;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.footer-logo{
	text-align: center;
	margin-bottom: 115px;
}
.footer-list{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.footer-item{
	width: 20.5%;
}
.footer-item-head{
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Bold";
	margin-bottom: 37px;
}
.footer-item-wrap{
	display: flex;
	justify-content: space-between;
}
.footer-item-col{
	width: 49%;
}
.footer-item-col.full{
	width: 100%;
}
.footer-link{
	color: #fff;
	opacity: .7;
	margin-bottom: 14px;
	display: block;
}
.footer-link:hover{
	opacity: 1;
}
.footer-socials{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 32px;
	border-top: 1px solid rgba(255,255,255,0.15);
}
.footer-socials-text{
	color: #696969;
}
.footer-socials-text-link{
	color: #fff;
}
.footer-socials-links{
	display: flex;
	align-items: center;
}
.footer-socials-link{
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	margin-right: 45px;
}
.footer-socials-link:last-child{
	margin-right: 0;
}
.footer-socials-link:hover{
	opacity: .5;
}
.footer-socials-link.vk{
	width: 15px;
	height: 9px;
	background-size: 240px;
	background-position: -91px -35px;
}
.footer-socials-link.fb{
	width: 7px;
	height: 15px;
	background-size: 240px;
	background-position: -131px -31px;
}
.footer-socials-link.inst{
	width: 14px;
	height: 14px;
	background-size: 181px;
    background-position: -34px -22px;
}